* {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

nav {
    background: #21222A;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 30px;
}

nav>img {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

nav>h3 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    color: #61DAFB;
    margin-right: auto;
}

nav>h4 {
    color: #DEEBF8;
    font-weight: 600;
    font-size: 16px;
}

.container {
    background: #282D35;
    height: 100vh;
}

main>h1 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    margin-top: 60px;
    margin-left: 30px;
}

main>ul {
    margin-top: 45px;
    margin-left: 50px;
}

main li {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
}