/*
https://colorhunt.co/palette/feece9ccd1e4fe7e6d2f3a8f
https://colorhunt.co/palette/eeebddce12128100001b1717

https://coolors.co/0e0b16-a239ca-4717f6-e7dfdd-9e0031
https://coolors.co/0e0b16-a239ca-4717f6-e7dfdd-2fe6de
https://coolors.co/0e0b16-a239ca-4717f6-e7dfdd-a63d40
https://coolors.co/0e0b16-a239ca-4717f6-e7dfdd-82d4bb

font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sacramento', cursive;
 */
body {
  font-family: 'Merriweather', serif;
  text-align: center;
  margin: 0;
  color: #40514E;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #65bfbf;
  margin: 50px auto 0 auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #65bfbf;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

hr {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: #EAF6F6 dotted 25px;
  width: 25%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.top-container {
  position: relative;
  padding-top: 100px;
  background-color: #EAF6F6;
}

.middle-container {
  width: 50%;
  margin: 100px auto 100px auto;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 20px
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile img {
  width: 25%;
  border-radius: 50%;
}

.profile p {
  width: 50%;
  margin: auto;
}

.skill-row {
  margin: 50px auto 0 auto;
  text-align: left;
}

.gtr-img {
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 50%;
}

.computer-img {
  width: 25%;
  float: right;
  margin-left: 30px;
  border-radius: 50%;
}

.contact-me {
  margin-bottom: 100px;
}

.contact-me p {
  margin-bottom: 50px;
}

.footer {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #65bfbf;
  color: #EAF6F6;
}

.footer a {
  margin: 0 50px 0 50px;
  text-decoration: none;
}

.footer a:hover {
  color: #EAF6F6;
}

.footer p {
  margin-bottom: 0;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.clear {
  clear: both;
  height: 0;
}
